.content-wrapper {
  display: flex;
  gap: 2rem;
}

main {
  flex: 3;
}

.year-sidebar {
  flex: 1;
  border-left: 1px solid #eee;
  padding-left: 1rem;
  font-size: 0.9rem;
  position: sticky;
  top: 2rem;
  height: fit-content;
}

.year-sidebar ul {
  list-style: none;
  padding-left: 0;
}

.year-sidebar li + li {
  margin-top: 0.5rem;
}

.year-sidebar a {
  color: #555;
  text-decoration: none;
}

.year-sidebar a:hover {
  text-decoration: underline;
}
